.form {
    background-color: snow;
    padding: 10px;
    margin: 0 auto 10px;
}

.form__heading {
    padding: 20px;
}

.form__inputBox {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 15px;
}

.form__newTask {
    padding: 10px;
    border: 1px solid #ddd;
}

.form__button {
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
}

@media (max-width:767px) {
    .form__inputBox {
        grid-template-columns: auto;
        grid-gap: 10px;
    }

    .form__newTask {
        width: 100%;
    }

    .form__button {
        width: 100%;
    }
}