.form {
    padding: 10px;
}

.form__heading {
    background-color: snow;
    padding: 20px;
}

.form__inputBox {
    background-color: snow;
    padding: 20px;
}

.form__newTask {
    padding: 10px;
    border: 1px solid #ddd;
}

.form__button {
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
}