html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    overflow-wrap: anywhere;
    background-color: hsl(0, 0%, 93%);
    font-family: 'Montserrat', sans-serif;
    max-width: 90%;
    margin: 20px;
    padding: 20px;
    margin: 20px auto 10px;
}