.tasksList {
    list-style: none;
    background-color: snow;
    padding: 10px;
    margin: 0 auto;
}

.tasksList__heading {
    padding: 10px;

}

.tasksList__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin: 20px 0;
}

.tasksList__item--done {
    text-decoration: line-through;
}

.tasksList__button {
    background: hsl(120, 61%, 34%);
    border: none;
}

.tasksList__button--remove {
    background-color: hsl(348, 83%, 47%);

}