.tasksList {
    list-style: none;
    background-color: snow;
    padding: 0px;
    margin: 0 auto;
}

.tasksList__heading {
    padding: 20px;
    margin: 10px;
    border-bottom: 2px solid #eee;
}

.tasksList__box {
    padding: 20px;
}

.tasksList__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin: 0px;
}

.tasksList__item--done {
    text-decoration: line-through;
}

.tasksList__button {
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 0px;
}

.tasksList__button--done {
    background: hsl(122, 65%, 29%);
}

.tasksList__button--done:active {
    border-width: 1px;
    border-style: solid;
    border-color: hsl(0, 0%, 0%);
    border-radius: 4px;
    transform: scale(1.05);
}

.tasksList__button--remove {
    background-color: hsl(348, 83%, 47%);
}

.tasksList__button--remove:active {
    border-width: 1px;
    border-color: hsl(0, 0%, 0%);
    border-style: solid;
    border-radius: 2px;
    transform: scale(1.05);
}